src/main/mule/githubpoc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="87f81212-dd9b-42e7-b3df-7be375252238" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="githubpocFlow" doc:id="ce86f957-4ab4-479a-b43c-e1ed41db0f84" >
		<http:listener doc:name="Listener" doc:id="7420ae72-1aa5-41b4-b5ac-30a2c575b2d9" config-ref="HTTP_Listener_config" path="/test"/>
		<ee:transform doc:name="Transform Message" doc:id="f51566d3-5e90-434b-a209-3461544f1235" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"i am creating emp-sys-api module"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ff4cdba7-d1ce-40a5-89ce-e33e65554c22" message="#[payload]"/>
	</flow>
</mule>
